@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

section,
header {
    max-width: 1100px;
    margin: 0px auto;
}

.btn-primary {
    border: none;
    border-radius: 5px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
    width: 20%;
}

section {
    margin-top: 100px;
}

.section-title,
.newsletter-title {
    color: #131318;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 24px;
}

.section-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

/* banner styles */

.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/banner.png);
    padding: 100px 185px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding: 20px 0px 30px;
}

.banner-details {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    display: flex;
    gap: 20px;
}
.input-1, .input {
    padding: 8px;
    border-radius: 5px;
    border: none;
    background: #FFF;
}

.banner-details input{
    border: none;
}

/* popular section */

.popular,
.perfect-place,
.newsletter {
    display: flex;
    gap: 50px;
}

.popular-content {
    width: 50%;
    text-align: left;
}

.popular-img img {
    width: 100%;
    position: relative;
}

.save{
    position: relative;
    border: none;
    border-radius: 10px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    width: 45%;
    bottom: 150px;
    right: -350px;
    rotate: -30deg;;
}

.save-up{
    font-size: 32px; 
    font-weight: 800;
}

/* destination section */

.destination-content,
.choose-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 300px;
}

.destination-img {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

.img-container img {
    width: 100%;
}

.img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-text {
    position: absolute;
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    text-align: center;
}

/* choose section */
.choose-for {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.choose-for>div {
    padding: 24px;
    width: calc(50% - 12px);
}

.service-title {
    margin: 32px 0px 16px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.hotel {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.service {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.price {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* newsletter section */
.newsletter-content {
    width: 40%;
    padding: 30px;
}

.newsletter-form>input {
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.newsletter-form>input,
.newsletter-form>button {
    width: 100%;
    margin-top: 16px;
    padding: 14px;
}



/* footer style */
.footer {
    background: rgba(19, 19, 24, 0.05);
    margin: 0px;
}

.footer-content {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-title {
    color: #131318;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 14px;
}

.footer-description {
    width: 70%;
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 28px;
}

.social-links{
    display: flex;
    gap: 24px;
}

.copyright {
    color: #131318;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.line{
    background: 2px solid rgba(19, 19, 24, 0.10);
    width: 80%;
    margin: 40px auto;
}

@media screen and (max-width:600px) {
    section,
    header {
        margin: 0px 15px;
    }
    

    .btn-primary {
        font-size: 12px;
        font-weight: 400;
        width: auto;
    }

    section,
    .destination-content,
    .choose-content,
    .perfect-place {
        margin-top: 24px;
        padding: 0px;
    }

    .section-title,
    .newsletter-title {
        color: #131318;
        font-size: 20px;
        margin-bottom: 14px;
    }

    .section-description {
        font-size: 14px;
        line-height: 20px;
        margin: 0pc 0px 14px 0px;
    }

    .banner {
        padding: 32px 24px;
    }

    .banner-title,
    .footer-title {
        font-size: 22px;
    }

    .banner-details,
    .popular,
    .destination-img,
    .choose-for,
    .perfect-place,
    .newsletter {
        flex-direction: column;
    }

    .popular-content,
    .newsletter-content,
    .choose-for>div {
        width: 100%;
    }

    .img-text,
    .service-title {
        font-size: 18px;
        font-weight: 600;
    }

    .choose-for img {
        width: 15%;
    }

    .newsletter-content {
        padding: 0px;
    }

    .newsletter-form>input,
    .newsletter-form>button,
    .section-title,
    .newsletter-title,
    .section-description {
        margin-left: 0px;

    }
    .footer-description,
    .copyright{
        font-size: 14px;
    }
    .social-links{
        display: flex;
        gap: 12px;
    }

    .save{
        
        
       font-size: 14px;
        width: 50%;
        bottom: 110px;
        right: -190px;
        rotate: -30deg;;
    }

    .save-up{
        font-size: 20px;
    }
}